<table class="table table-sm table-striped">
  <thead>
  <tr>
    <th>ID</th><th>Name</th><th>County</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let l of getLocations()">
    <td>{{l.id}}</td>
    <td>{{l.name}}</td>
    <td>{{l.county}}</td>
    <td>
      <button class="btn btn-sm btn-warning"
              [routerLink]="['/admin/main/locations/edit', l.id]">
        Edit
      </button>
      <button class="btn btn-sm btn-danger" (click)="deleteLocation(l.id)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-primary" routerLink="/admin/main/locations/create">
  Create New Location
</button>
