<div class="bg-primary p-a-1" [class.bg-warning]="editing">
  <h5>{{editing ? "Edit" : "Create"}} Location</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)" >
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" [(ngModel)]="location.name" />
  </div>
  <div class="form-group">
    <label>County</label>
    <input class="form-control" name="county" [(ngModel)]="location.county" />
  </div>
  <div class="form-group">
    <label>Latitude</label>
    <input class="form-control" name="latitude" [(ngModel)]="location.latitude" />
  </div>
  <div class="form-group">
    <label>Longitude</label>
    <input class="form-control" name="longitude" [(ngModel)]="location.longitude" />
  </div>
  <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
    {{editing ? "Save" : "Create"}}
  </button>
  <button type="reset" class="btn btn-secondary" routerLink="/admin/main/locations">
    Cancel
  </button>
</form>
