<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" [(ngModel)]="includeShipped"/>
    Display Verified Visit Lists
  </label>
</div>
<table class="table table-sm">
  <thead>
  <tr><th>Name</th><th>Cell Number</th><th colspan="2"></th><th></th></tr>
  </thead>
  <tbody>
  <tr *ngIf="getTransfers().length == 0">
    <td colspan="5">There are no transfers</td>
  </tr>

  <ng-template ngFor let-t [ngForOf]="getTransfers()">
    <tr>
      <td>{{t.name}}</td><td>{{t.zip}}</td>
      <th>Location</th><th>County</th>
      <td>
        <button class="btn btn-warning" (click)="markShipped(t)">
          Verify Correct
        </button>
        <br />
        <button class="btn btn-danger" (click)="delete(t.id)">
          Delete
        </button>
      </td>
    </tr>
    <tr *ngFor="let visit of t.container.visits">
      <td colspan="2"></td>
      <td>{{visit.location.name}}</td>
    </tr>
  </ng-template>
  </tbody>
</table>
